<div class="contenedor">
  <main class="form-signin">
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <div class="text-center mt-2">
        <img class="mb-4" src="./assets/img/clapper2.jpg" alt="" width="100" height="97">
      </div>

      <h1 class="h3 mb-3 fw-normal">Please Sign in</h1>

      <div class="form-floating">
        <input formControlName="email" type="email" class="form-control" id="floatingInput3" placeholder="Email address" autocomplete="off" required>
        <label for="floatingInput3">Email address</label>
      </div>
      <div class="row validate-indicator">
        <div class="col text-danger">
          <p  *ngIf="checkValidField('email')" class="m-0">El email es obligatorio y debe ser valido</p>
        </div>
      </div>

      <div class="form-floating">
        <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password" autocomplete="off" required>
        <label for="floatingPassword">Password</label>
      </div>
      <div class="row validate-indicator ultimo">
        <div class="col text-danger">
          <p *ngIf="checkValidField('password')" class="m-0">El password debe contener al menos 6 caracteres</p>
        </div>
      </div>

      <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>

      <div class="mt-4  text-center">
        <span>
          Don't have an account?
        </span>
        <a class="text-decoration-none" routerLink="/register">register</a>
      </div>

    </form>
  </main>

</div>


