<div class="row mt-4 ">

  <div class="col-sm-5 col-md-5 col-lg-4" >
    <!-- logo the-movies   -->
    <div *ngIf="!movieDeleted" class="anuncio">
      <img src="../../../assets/img/the-movies.jpeg" style="width: 160px" alt="">
    </div>

    <!-- movie card   -->
    <div *ngIf="movieDeleted" class="card ms-4" style="width: 85%">
      <img src="{{imageUrl}}{{ movieSelected?.image }}" class="card-img-top" style="height: 260px" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ movieSelected?.title }}</h5>
        <p class="card-text">{{ movieSelected?.year }}</p>
        <a class="btn btn-sm btn-primary float-end"
           (click)="delete(movieSelected)">
          Eliminar
        </a>
      </div>
      <div class="card-footer">
        <small class="text-muted">
          <i class="bi bi-star-fill" style="font-size: 1.1rem; color: goldenrod;"></i>
          &nbsp;<strong>{{ movieSelected?.average }}</strong>/10
        </small>
        <small class="text-muted float-end">
          votos ({{ movieSelected?.ratings }})
        </small>
      </div>
    </div>

    <div class="linea2"></div>

    <!-- paginacion peliculas -->
    <div class="row">
      <div class="col">
        <nav aria-label="Page navigation example" class="mb-2">
          <ul class="pagination pagination-sm justify-content-end">
            <li class="page-item">
              <button (click)="cambiarPagina(-5)" class="page-link me-2" style="width: 40px"><i class="bi bi-caret-left-fill"></i></button>
            </li>

            <li class="page-item">
              <button (click)="cambiarPagina(5)" class="page-link" style="width: 40px"><i class="bi bi-caret-right-fill"></i></button>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="col-sm-5 movies-box">

      <div *ngFor="let movie of movies; let i = index" class="movies">
        <img src="{{imageUrl}}{{ movie.image }}"
             class="movies-img">
        <div class="movies-text-container">
          <!--   Hacer un pipe para la longitud del titulo que salgan 3 puntitos si es muy largo   -->
          <p class="movies-title mt-1 mb-0 ms-3">{{ movie.title }}</p>
          <p class="mb-0 ms-3">{{ movie.year }}</p>
          <button type="button"
                  class="badge bg-primary float-end me-2 mt-2"
                  (click)="getMovieAndComments(movie.id, desdeComment)">
            Select
          </button>
        </div>
      </div>

    </div>

  </div>

  <div class="col-sm-7 col-md-7 col-lg-6 offset-lg-1 mt-4 mt-sm-0">

    <div class="reviews">
      <div class="caja"></div>
      <p class="p-reviews">REVIEWS</p>
    </div>

    <p class="mb-0">Todas las Criticas</p>
    <div class="linea"></div>

    <!-- paginacion comentarios -->
    <div *ngIf="totalComments !== 0" class="row">
      <div class="col">
        <nav aria-label="Page navigation example" class="mb-2">
          <ul class="pagination pagination-sm justify-content-end">
            <li class="page-item">
              <button (click)="cambiarPaginaComentarios(-10)" class="page-link me-2" style="width: 40px"><i class="bi bi-caret-left-fill"></i></button>
            </li>

            <li class="page-item">
              <button (click)="cambiarPaginaComentarios( 10 )" class="page-link" style="width: 40px"><i class="bi bi-caret-right-fill"></i></button>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- Comentarios -->
    <div *ngFor="let comment of solo10comments"  class="card mb-2">
      <div class="card-body d-flex w-100 justify-content-between py-2">
        <!-- hacer un pipe para el usuario          -->
        <div class="w-75">
          <h6 class="mb-1">{{ comment.userName }}</h6>
          <small>{{ comment.comment }}</small>
        </div>
        <small class="w-25 text-end text-muted">{{ comment.createdAt | date }}</small>
      </div>
    </div>

  </div>

</div>
