<h3 class="mt-2">Editar película</h3>
<div class="row mt-3">

  <div class="card col-md-6 mt-3">
    <div class="card-body">
      <form [formGroup]="movieForm" (ngSubmit)="submit()">
        <div class="mb-1">
          <label class="form-label mb-0">Titulo</label>
          <input formControlName="title" type="text" class="form-control">
          <div class="row validate-indicator">
            <div class="col text-danger">
              <p *ngIf="checkValidField('title')" class="m-0">El titulo es obligatorio</p>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label mb-0">Año</label>
          <input formControlName="year" type="text" class="form-control">
          <div class="row validate-indicator">
            <div class="col text-danger">
              <p *ngIf="checkValidField('year')" class="m-0">El año es obligatorio y una fecha valida</p>
            </div>
          </div>
        </div>

        <button type="submit"
                class="btn btn-outline-secondary">
          Editar
        </button>

      </form>
    </div>
  </div>

  <div class="col-md-6 mt-3">

    <div class="card" style="width: 90%;">
      <div class="card-body">
        <h5 class="card-title">Avatar</h5>
        <p class="card-text">Imagen Película</p>

        <img *ngIf="!imgTemp" [src]="imageUrl" class="card-img-top" >
  <!-- se muestra la nueva imagen temporal a guardar si existe -->
        <img *ngIf="imgTemp"  [src]="imgTemp" class="card-img-top" >

        <div class="mb-3 mt-4">
          <input class="form-control" type="file"
                 (change)="changeImage($event)">
        </div>

        <button type="button"
                class="btn btn-outline-secondary"
                [disabled]="!uploadImage"
                (click)="updateImage()">
          Guardar
        </button>

      </div>
    </div>

  </div>

</div>

